a.white:link, a.white:visited, a.white:active, a.white:focus, a.white {
    color: white;
}
a.white:hover {
    color: white;
    cursor: pointer;
}

span.tiny {
    color: gray;
    font-size: 12px;
    margin-top: 10px;
}

.CodeMirror, .CodeMirror-scroll {
    min-height: 100px;
}